@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@keyframes moveLeft {
  0% {
    right: -50%;
  }

  100% {
    right: 50%;
  }
}

@keyframes moveRight {
  0% {
    left: -50%;
  }

  100% {
    left: 50%;
  }
}

.moveRight {
  -webkit-animation: moveRight 1.5s;
  animation: moveRight 1.5s;
}

#name_move_right,
#number_move_right {
  -webkit-transform: translate(-50%, 0);
  left: -50%;
  position: relative;
  transform: translate(-50%, 0);
}

.moveLeft {
  -webkit-animation: moveLeft 1.5s;
  animation: moveLeft 1.5s;
}

#email_move_left,
#party_move_left {
  -webkit-transform: translate(50%, 0);
  position: relative;
  right: -50%;
  transform: translate(50%, 0);
}

.alert_box {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.75);
  -webkit-transform: translate(-50%, -50%);
  background-color: #808080;
  border: solid 1px #000;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.75);
  color: #fff;
  display: none;
  left: 50%;
  width: 600px;
  padding: 25px 20px;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.alert_box button {
  border: none;
}

.alert_box h2 {
  color: #fff;
  margin-top: 5px;
}

.alert_box h3 {
  border-bottom: solid 1px #000;
  color: #2E5300;
  letter-spacing: 2px;
  margin-top: -25px;
  text-align: center;
}

.alert_box li {
  font-weight: bold;
  list-style-type: none;
}

.alert_box ul {
  font-size: 20px;
}

.alert_box span {
  color: #000;
}

body {
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('../images/laughing_buddha.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('../images/laughing_buddha.jpeg');
  background-position: center;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.button {
  -webkit-transition: background 150ms ease;
  background-color: #2E5300;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 10px 10px 0 10px;
  padding: 10px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  transition: background 150ms ease;
  width: 160px;
}

.button:hover {
  background-color: #719F38;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.checkbox_label {
  -webkit-transform: translate(-50%, 0);
  background-color: #719F38;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
  width: 160px;
}

.comments {
  background-color: #fff;
  border: none;
  color: #000;
  height: 150px;
  padding: 10px;
  width: 600px;
}

.comp_name {
  color: #fff;
  display: block;
  font-size: 50px;
  /* outline: solid 1px blue; */
}

.comp_slogan {
  color: #AFA63E;
  font-size: 30px;
  font-style: italic;
}

.dropdown {
  -webkit-transition: all 150ms ease;
  display: inline-block;
  position: relative;
  transition: all 150ms ease;
}

.dropdown:hover .button {
  background-color: #719F38;
  border-bottom: none;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content {
  display: none;
  left: 50%;
  position: absolute;
  z-index: 1;
}

footer {
  background-color: #000;
  border-top: solid 1px #719F38;
  color: #AFA63E;
  font-size: 18px;
  padding: 10px;
}

.footer-logo {
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

form {
  height: auto;
  width: 700px;
}

header {
  border-bottom: solid 1px #719F38;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  /* position: relative; */
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info {
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  width: 400px;
}

.info_pics {
  background-color: #2E5300;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 35px;
}

main {
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  text-align: center;
}

.text {
  color: #fff;
  font-size: 20px;
  margin: 20px auto;
  width: 60%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

@media(max-width: 1000px) {
  .alert_box {
    width: 600px;
    padding: 20px 15px;
  }

  .alert_box h3 {
    margin-top: -25px;
  }

  .alert_box ul {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
    margin: 10px 10px 0 10px;
    padding: 5px 10px;
    width: 140px;
  }

  .checkbox_label {
    width: 140px;
  }

  .comp_name {
    font-size: 30px;
  }

  .comp_slogan {
    font-size: 25px;
  }


  .info {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    position: relative;
    width: 300px;
  }

  .info_pics {
    font-size: 20px;
    padding: 5px;
    width: 25px;
  }

  .text {
    font-size: 18px;
    margin: 15px auto;
    width: 70%;
  }
}

@media(max-width: 700px) {
  .alert_box {
    padding: 15px 10px;
    width: 90%;
  }

  .alert_box ul {
    font-size: 16px;
  }

  .button {
    font-size: 16px;
    width: 110px;
  }

  .checkbox_label {
    width: 110px;
  }

  .comments {
    width: 90%;
  }

  .comp_name {
    font-size: 24px;
  }

  .comp_slogan {
    font-size: 18px;
  }

  footer {
    font-size: 14px;
    margin-top: 15px;
  }

  form {
    width: 100%;
  }

  .greeting {
    font-size: 20px;
    right: 5px;
  }

  .header {
    margin-bottom: 0;
  }

  .info {
    width: 250px;
  }

  .text {
    font-size: 18px;
    width: 80%;
  }
}

@media(max-width: 400px) {

  .info_pics {
    display: none;
  }

  .text {
    font-size: 16px;
    width: 90%;
  }

}