@keyframes moveLeft {
  0% {
    right: -50%;
  }

  100% {
    right: 50%;
  }
}

@keyframes moveRight {
  0% {
    left: -50%;
  }

  100% {
    left: 50%;
  }
}

.moveRight {
  -webkit-animation: moveRight 1.5s;
  animation: moveRight 1.5s;
}

#name_move_right,
#number_move_right {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-transform: translateX(-50%);
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: -50%;
  margin-bottom: 20px;
  position: relative;
  transform: translateX(-50%);
}

.moveLeft {
  -webkit-animation: moveLeft 1.5s;
  animation: moveLeft 1.5s;
}

#email_move_left,
#party_move_left {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-transform: translateX(50%);
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  right: -50%;
  transform: translateX(50%);
  /* outline: solid 1px red; */
}

.overlay {
  -webkit-transition: width 500ms ease;
  background-color: #000;
  bottom: 0;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 500ms ease;
  width: 0;
  z-index: 1;
}

.alert_box {
  -webkit-box-shadow: 0 0 20px #000;
  -webkit-transform: translateX(-50%);
  -webkit-transition: left 500ms ease;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  color: #2E5300;
  display: none;
  left: 50%;
  padding: 25px 20px;
  position: fixed;
  text-align: left;
  top: 50px;
  transform: translateX(-50%);
  transition: left 500ms ease;
  width: 600px;
  z-index: 5;
}

.alert_box button {
  border-color: #000;
}

.alert_box h3 {
  border-bottom: solid 1px #000;
  color: #2E5300;
  letter-spacing: 2px;
  text-align: center;
}

.alert_box li {
  font-weight: bold;
  list-style-type: none;
}

.alert_box ul {
  font-size: 20px;
}

.alert_box span {
  color: #000;
}

body {
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5)),
    url('../images/laughing_buddha.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5)),
    url('../images/laughing_buddha.jpeg');
  background-position: center;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.button {
  -webkit-transition: background 150ms ease;
  background-color: #2E5300;
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 10px 10px 0 10px;
  padding: 10px;
  transition: background 150ms ease;
  width: 160px;
}

.button:hover {
  background-color: #719F38;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.checkbox_label {
  -webkit-transform: translate(-50%, 0);
  background-color: #719F38;
  border-bottom: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: -1px;
  transform: translate(-50%, 0);
  width: 160px;
}

.comments {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  height: 150px;
  padding: 10px;
  width: 600px;
}

.comp_name {
  color: #fff;
  display: block;
  font-size: 50px;
  /* outline: solid 1px blue; */
}

.comp_slogan {
  color: #AFA63E;
  font-size: 30px;
  font-style: italic;
}

.dropdown {
  -webkit-transition: all 150ms ease;
  display: inline-block;
  position: relative;
  transition: all 150ms ease;
}

.dropdown:hover .button {
  background-color: #719F38;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown:hover .dropdown_content {
  opacity: 1;
  top: 100%;
  z-index: 1;
}

.dropdown_content {
  -webkit-transition: all 150ms ease;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 15px;
  transition: all 150ms ease;
  z-index: -1;
}

footer {
  background-color: #000;
  border-top: solid 1px #719F38;
  color: #AFA63E;
  font-size: 18px;
  padding: 10px;
}

.footer-logo {
  margin-top: 5px;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

form {
  overflow-x: hidden;
  width: 700px;
  /* outline: solid 1px blue; */
}

header {
  border-bottom: solid 1px #719F38;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  /* position: relative; */
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  padding: 10px 15px;
  width: 400px;
}

.info_pics {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #2E5300;
  border-radius: 50%;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 26px;
  height: 50px;
  justify-content: center;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  width: 50px;
}

main {
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 15px 0 30px 0;
  text-align: center;
}

.text {
  color: #fff;
  font-size: 20px;
  margin: 20px auto;
  width: 700px;
  text-shadow: 0 2px 2px #000;
}

@media(max-width: 1000px) {
  .alert_box {
    width: 600px;
    /* padding: 20px 15px; */
  }

  .alert_box ul {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
    margin: 10px 10px 0 10px;
    padding: 5px 10px;
    width: 140px;
  }

  .checkbox_label {
    width: 140px;
  }

  .comp_name {
    font-size: 30px;
  }

  .comp_slogan {
    font-size: 25px;
  }


  .info {
    padding: 8px 10px;
  }

  .info_pics {
    font-size: 20px;
    height: 40px;
    width: 40px;
  }

  .text {
    font-size: 18px;
    margin: 15px auto;
    width: 600px;
  }
}

@media(max-width: 700px) {
  .alert_box {
    padding: 15px 20px;
    width: 90%;
  }

  .button {
    font-size: 16px;
    width: 110px;
  }

  .checkbox_label {
    width: 110px;
  }

  .comments {
    width: 90%;
  }

  .comp_name {
    font-size: 24px;
  }

  .comp_slogan {
    font-size: 18px;
  }

  footer {
    font-size: 14px;
  }

  form {
    width: 100%;
  }

  .header {
    margin-bottom: 0;
  }

  .info {
    width: 350px;
  }

  .text {
    width: 80%;
  }
}

@media(max-width: 400px) {

  .alert_box {
    border-radius: 0;
    width: 100%;
  }

  .info {
    width: 90%;
  }

  .info_pics {
    display: none;
  }

  .text {
    width: 90%;
  }

}